<header>
  <nav class="nav" >
    <ul class="nav_list">
      <li>
        <a href="#" class="nav_link">Projetos</a>
        <a href="#" class="nav_link">Currículo</a>
        <a href="#sobre" class="nav_link">Sobre Mim</a>
      </li>
    </ul>
  </nav>
  <div class="container-menu-hamburguer">
    <li class="menu-hamburguer-button" (click)="toggleMenu()">
      <i class="material-icons"> {{isMenuOpen ? "close" : "menu"}} </i>
    </li>
  </div>

  <nav class="navBar-hamburguer" *ngIf="isMenuOpen">
    <ul class="ul-menu-hamburguer">
      <li >
        <a href="#" class="nav_link_hamburguer">Projetos</a>
        <a href="#" class="nav_link_hamburguer">Currículo</a>
        <a href="#sobre" class="nav_link_hamburguer">Sobre Mim</a>
      </li>
    </ul>
  </nav>
</header>