<div class="header">
  <nav class="nav" >
    <ul class="nav_list">
      <li>
        <a href="#sobre" class="nav_link">Sobre</a>
        <a href="#habilidades" class="nav_link">Habilidades</a>
        <a href="#projetos" class="nav_link">Projetos</a>
        <a href="#contatos" class="nav_link">Contato</a>
      </li>
    </ul>
  </nav>
  <div class="container-menu-hamburguer">
    <li class="menu-hamburguer-button" (click)="toggleMenu()">
      <i class="material-icons"> {{isMenuOpen ? "close" : "menu"}} </i>
    </li>
  </div>
  <nav class="navBar-hamburguer" *ngIf="isMenuOpen">
    <ul class="ul-menu-hamburguer">
      <li (click)="toggleMenu()">
        <a href="#sobre" class="nav_link_hamburguer" >Sobre</a>
        <a href="#habilidades" class="nav_link_hamburguer" >Habilidades</a>
        <a href="#projetos" class="nav_link_hamburguer" >Projetos</a>
        <a href="#contatos" class="nav_link_hamburguer" >Contato</a>
      </li>
    </ul>
  </nav>
</div>
