<div class="container" id="contatos" style="color: white;">
    <h1>Contate-me</h1>
  <form action="mailto:danrleysouza53@gmail.com" method="POST" enctype="text/plain">
    <div class="mb-3">
      <label for="nome" class="form-label">Seu nome</label>
      <input type="text" class="form-control" placeholder="Digite seu nome" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Seu E-mail</label>
      <input type="email" class="form-control" placeholder="nome@exemplo.com" required>
    </div>
    <div class="mb-3">
      <label for="mensagem" class="form-label">Sua mensagem</label>
      <textarea class="form-control" rows="5" placeholder="Digite sua mensagem" required></textarea>
    </div>
    <div class="input">
      <button type="reset">Limpar</button>
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>

<br><br><br><br><br><br><br><br>
