<div class="container" id="habilidades">
  <h1>Habilidades técnicas</h1>
  <div class="conteudo">
    <div class="carrousel">
      <article class="card">
        <img src="assets/imagens/angular.png" alt="Angular">
      </article>
      <article class="card">
        <img src="assets/imagens/spring.png" alt="">
      </article>
      <article class="card">
        <img src="assets/imagens/Javascript.png" alt="">
      </article>
      <article class="card">
        <img src="assets/imagens/typescript.png" alt="">
      </article>
      <article class="card">
        <img src="assets/imagens/Java.png" alt="">
      </article>
      <article class="card">
        <img src="assets/imagens/docker.png" alt="">
      </article>
      <article class="card">
        <img src="assets/imagens/junit.png" alt="">
      </article>
      <article class="card">
        <img src="assets/imagens/hmtl5.png" alt="">
      </article>
      <article class="card">
        <img src="assets/imagens/css.png" alt="">
      </article>
      <article class="card">
        <img src="assets/imagens/bootstrap.png" alt="">
      </article>
      <article class="card">
        <img src="assets/imagens/sql.png" alt="">
      </article>
    </div>
  </div>
</div>