<div class="principal" id="habilidades" >
  <h1>Habilidades técnicas</h1>
  <div class="container">
    <button class="arrow-left control" aria-label="Previous image">◀</button>
    <button class="arrow-right control" aria-label="Next Image">▶</button>
    <div class="gallery-wrapper">
      <div class="gallery">
        <img src="assets/imagens/angular.png" alt="Angular framework" class="item current-item">
        <img src="assets/imagens/spring.png" alt="Spring framework" class="item current-item">
        <img src="assets/imagens/Javascript.png" alt="Javascript" class="item current-item">
        <img src="assets/imagens/typescript.png" alt="TypeScript" class="item current-item">
        <img src="assets/imagens/Java.png" alt="java" class="item current-item">
        <img src="assets/imagens/docker.png" alt="Docker" class="item current-item">
        <img src="assets/imagens/junit.png" alt="Junit5" class="item current-item">
        <img src="assets/imagens/hmtl5.png" alt="html5" class="item current-item">
        <img src="assets/imagens/css.png" alt="css" class="item current-item">
        <img src="assets/imagens/bootstrap.png" alt="bootstrap" class="item current-item">
        <img src="assets/imagens/sql.png" alt="mysql" class="item current-item">
        <img src="assets/imagens/firebase.png" alt="firebase" class="item current-item">
        <img src="assets/imagens/git.png" alt="git" class="item current-item">
        <img src="assets/imagens/github.png" alt="github" class="item current-item">
      </div>
    </div>
  </div>
</div>
