<mat-dialog-content >
    <div class="dialog">
        
        <div class="video">
            <video
                src="https://drive.google.com/vt?id=121CkRDGK_cDnI8-w-LZo8rtj0U_-PYMs&s=AMedNnoAAAAAYwT7e1eb3K2LGHuHnjjIg865A-MVbxg2"
                controls autoplay></video>
        </div>
        <div class="infor">
            <h2>Nome do projeto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, velit. Quaerat delectus eos consectetur nisi,
                cum ducimus ex libero unde quis. Eaque expedita eum voluptas explicabo maxime quos laborum officiis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus distinctio obcaecati nulla eligendi vitae
                maxime voluptas at quibusdam qui asperiores, placeat maiores culpa dignissimos? Ratione beatae quas
                explicabo eaque ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laborum eveniet ut soluta
                ex eligendi est voluptatibus odit ratione itaque. Accusamus eius porro veritatis nisi deleniti tenetur,
                accusantium quis fugiat. Lorem, ipsum dolor sit amet consectetur adipisicing elit. At dolorem ea velit
                sapiente aut, doloremque officiis illum enim iste quos a aspernatur dolor dolore magni quod, repellendus
                dolorum qui mollitia!
            </p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Voltar</button>
</mat-dialog-actions>