body{
    background-color: #09090f;
    color: white;
}

main{
    margin-top: 30px;
}

.img {
    width: 100vw;
    height: 60vh;
    padding-bottom: 3px;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 2.8rem;
    line-height:1;
    position: relative;
    color: white;
}

.rotate-words {
    display: inline;
    margin-left: 10px;
}

.rotate-words span {
    width: max-content;
    position: absolute;
    background: #474bff;
    background: -webkit-linear-gradient(141deg, #474bff 0%, rgba(0, 255, 231, 0.9) 50%, #bc48ff 100%);
    background: linear-gradient(141deg, #474bff 0%, rgba(0, 255, 231, 0.9) 50%, #bc48ff 100%);
    padding-inline: 10px;
    padding: 8px;
    opacity: 0;
    transform-origin: 10% 75%;
    animation: rotatewords 12s var(--d)linear infinite;
    border-radius: 3px;
}

@keyframes rotatewords {
    5% {
        opacity: 1;
    }

    10% {
        opacity: 1;
        transform: rotate(3deg);
    }

    20% {
        opacity: 1;
        transform: rotate(3deg);
    }

    15% {
        transform: rotate(-1deg);
    }

    25% {
        opacity: 0;
        transform: translateY(98px) rotate(10deg);
    }
}

.sobre{
    width: 850px;
    margin: auto;
    text-align: center;
}

.sobre h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    background: #474bff;
    background: -webkit-linear-gradient(141deg, #474bff 0%, rgba(0, 255, 231, 0.9) 50%, #bc48ff 100%);
    background: linear-gradient(141deg, #474bff 0%, rgba(0, 255, 231, 0.9) 50%, #bc48ff 100%);
    border-radius: 3px;
}

.sobre p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

@media(max-width: 720px){
    .sobre{
        width: 500px; 
    }
    
    .sobre h1{
        width: 200px;
    }
    
    .sobre p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
    }

}

@media(max-width: 500px){
    .title{
        margin-right: 35%;
        font-size: xx-large;
    }

    .sobre{
        width: 280px;
        
    }
    
    .sobre h1{
        width: 180px;
    }
    
    .sobre p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
    }

}