<div class="body">
    <header>
        <div class="header">
            <div class="title">
                <h1>
                    Olá, sejam bem vindos. <br>
                    Meu nome é Danrley <br> e sou
                    desenvolvedor <br>
                    <div class="rotate-words position-relative">
                        <span style="--d: 0s">Web full stack.</span>
                        <span style="--d: 4s">Front-end Angular</span>
                        <span style="--d: 8s">Back-end Java</span>
                    </div>
                </h1>
            </div>
            <div>
                <img src="assets/imagens/fundo.png" class="img">
            </div>
        </div>
        <div class="btnn">
            <button style="background-color:#bc48ff;"> <a href="assets/cv/cv-Danrley.pdf" download>Download CV</a></button>
            <button> <a href="mailto:danrleysouza53@gmail.com" target="_blank">Entrar em contato</a></button>
        </div>
    </header>
    <main>
        <div class="sobre" id="sobre">
            <h1>Sobre mim</h1>
            <p>
                23 anos, estudo desenvolvimento web há mais de 8 meses e tenho diversos cursos no currículo. <br>
                Acabo de finalizar um curso com formação de Desenvolvedor Java Full-Stack pela SoulCode Academy,
                através de uma bolsa de estudos. <br>
                Busco uma oportunidade como Desenvolvedor Front-end, Back-end ou Full stack. <br>
                Possuo conhecimentos sólidos em: Angular, TypeScript, JavaScript, HTML5, CSS3, SASS, Bootstrap,
                Firebase,
                Java, Spring boot, Git, Github e MySQL. <br>
                Busco me tornar especialista na linguagem Java e também ingressar no mundo do desenvolvimento de
                aplicações nativas.
            </p>
        </div>
    </main>
</div>
<app-habilidades></app-habilidades>
<app-projetos></app-projetos>