<div class='container'>
  <h1 class="h1">Projetos</h1>
  <h1 class="h1Destaque">Destaques</h1>
  <div class="projetoDestaque">
    <div class="project">
      <img src="assets/imagens/portfolio.jpeg">
    </div>
    <div class="project">
      <img src="assets/imagens/diarios.jpeg">
    </div>
    <div class="project">
      <img src="assets/imagens/helpr.jpeg">
    </div>
  </div>
  <h1 class="h1Todos">Todos os projetos</h1>
  <div class="demaisProject">
    <div class="project">
      <img src="assets/imagens/soulgames.jpeg">
    </div>
    <div class="project">
      <img src="assets/imagens/goodpay.jpeg">
    </div>
    <div class="project">
      <img src="assets/imagens/gsw.jpeg">
    </div>
    <div class="project">
      <img src="assets/imagens/link.jpeg">
    </div>
    <div class="project">
      <img src="assets/imagens/captura.jpeg">
    </div>
    <div class="project">
      <img src="assets/imagens/cordel.jpeg">
    </div>
    <div class="project">
      <img src="assets/imagens/android.jpeg">
    </div>
  </div>
</div>

<!-- <mat-grid-list [cols]="cols" [rowHeight]="rows">
  <mat-grid-tile class="project">
    <img src="assets/imagens/portfolio.jpeg">
  </mat-grid-tile>
  <mat-grid-tile class="project">
    <img src="assets/imagens/portfolio.jpeg">
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->

<br><br><br><br><br><br><br><br><br><br>