<div class='container' id="projetos">
  <h1 class="h1">Projetos</h1>
  <h1 class="h1Destaque">Destaques</h1>
  <div class="projetoDestaque" >
    <div class="project" *ngFor="let projeto of projetoDestaque">
      <img (click)="openDialog(projeto)" src="{{projeto.imagem}}">
      <mat-icon (click)="openDialog(projeto)">play_circle_outline</mat-icon>
      <div>
        <h1>{{projeto.texto}}</h1>
      </div>
    </div>
  </div>
  <h1 class="h1Todos">Todos os projetos</h1>
  <div class="demaisProject" >
    <div class="project" *ngFor="let projeto of todosProjetos">
      <img (click)="openDialog(projeto)" src="{{projeto.imagem}}">
      <mat-icon (click)="openDialog(projeto)">play_circle_outline</mat-icon>
      <div>
        <h1>{{projeto.texto}}</h1>
      </div>
    </div>
  </div>
</div>