.container {
    margin-top: 200px;

    h1 {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bolder;
    }
}

.h1Destaque {
    font-size: 1.8rem;
    border-bottom: 1px solid #03a9f4;
}

.h1Todos {
    margin-top: 200px;
    font-size: 1.8rem;
    border-bottom: 1px solid #03a9f4;
}

.h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 2.3rem;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    color: white;
}

.projetoDestaque {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.demaisProject {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
    opacity: 0.7;

    mat-icon {
        visibility: hidden;
    }

    img {
        width: 100%;
        cursor: pointer;
    }
}

.project:hover {
    transition: transform 1s;
    transform: translateX(10px) scale(1.1);
    opacity: 1;

    mat-icon {
        overflow: hidden;
        width: 80px;
        height: 60px;
        font-size: 4rem;
        margin: auto;
        cursor: pointer;
        visibility: visible;
        position: relative;
        bottom: 120px;
        left: 43%;
    }

    h1 {
        display: none;
    }
}

.project>div {
    position: relative;
    left: 35%;
    width: 100px;
    text-align: center;
}

@media(max-width: 820px) {
    .h1Todos {
        margin-top: 100px;
        font-size: 1.8rem;
    }
}

@media(max-width: 500px) {
    .project:hover {
        transform: none;
    }
}
