<div class='container' id="projetos">
  <h1 class="h1">Projetos</h1>
  <h1 class="h1Destaque">Destaques</h1>
  <div class="projetoDestaque" >
    <div class="project" *ngFor="let projeto of projetoDestaque">
      <img src="{{projeto.imagem}}">
      <button (click)="openDialog(projeto)">Detalhes</button>
      <div>
        <h1>{{projeto.texto}}</h1>
      </div>
    </div>
  </div>
  <h1 class="h1Todos">Todos os projetos</h1>
  <div class="demaisProject" >
    <div class="project" *ngFor="let projeto of todosProjetos">
      <img src="{{projeto.imagem}}">
      <button (click)="openDialog(projeto)">Detalhes</button>
      <div>
        <h1>{{projeto.texto}}</h1>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>